.App {
  text-align: center;
  font-family: "Inclusive Sans", sans-serif;
  /* font-family: "Gloock", serif; */
}

.map {
  height: 450px;
  margin-top: 35px;
  border-radius: 5px;
}

.banner {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  overflow: hidden;
}

.sale {  
  object-fit: contain;
  transition: transform .7s ease;
}

.sale:hover {
  transform: scale(1.1);
  /* transition-delay: 5s; */
}

.contact {
  background-color: EAEAEA;
  color: #333333;
  font-family: "Gloock", serif;
  padding: 30px;
}

.frame-contact {
  background-color: #EEE4E1;
  width: 300px;
  border: solid white;
  border-radius: 5px; 
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 30px;
}
  
.footer {
  height: 50px;
  font-family: "Inclusive Sans", sans-serif;
  color: #333333;
  background-color: #EAEAEA;
  /* position: ; */
  width: 100%;
  bottom: 0;
}


.text {
  padding-top: 12px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.item {
  padding: 10px;
  border: solid #F0F4EF;
  border-radius: 5px; 
  margin: 3px;
  background-color: #F0F4EF;
  width: 300px;
  height: auto;
  font-size: 20px;
}

.itemImg {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
  
.t2  {
  font-size: 30px;
}
.item2 {
  padding: 20px;
  border: solid #F0F4EF;
  border-radius: 5px; 
  margin: 3px;
  background-color: #F0F4EF;
  font-size: 20px;
  margin: 10px 30% 10px 30%;
}

  .item:hover {
   width: 350px;
   transition: transform .3s;
  }

  .text1 {
    font-family: "Gloock", serif;
    font-size: 40px;
    font-style: italic;
    color: #344966;
    padding-top: 60px;
  }

  .btnImg {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #E8EBF7;
    color: #7C7287;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .itemC {
    height: 650px;
    max-width: 900px;
    object-fit:  cover;
    margin-top: 3px;
  }

  .carousel {
    margin: 1% 20% 1% 20%;
  }

  .cart {
    display: flex;
    justify-content: space-between; 
    margin: 0 10%;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    background-color: white;
  }

  .cart-img {
    height: 100px;
  }

  .cart-sum {
  padding: 20px;
  border: solid #F0F4EF;
  border-radius: 5px; 
  margin: 3px;
  background-color: #F0F4EF;
  font-size: 20px;
  margin: 10px 30% 10px 30%;
}
  