body {
    background-color: #fcfcfc;
}

.taust3 {
    padding: 2%;
}

.a4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #114b5f;
    font-size: 30px;
    font-weight: bold;
}

.pilt {
    height: 200px;
    width: auto;
  }

  .pilt:hover{
    height: 20%;
    width: auto;
  }

  .taust {
    background-color: #f45b69 ; 
    padding: 30px 30px;
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  
.a3 {
    color: #114b5f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }