.App {
  text-align: center;
  background-color: white;
  color: black;
}




  .App-dark {
    text-align: center;
    background-color: black;
    color: white;
    min-height: 100vh;
    /* vh - % vaate kõrgus (view height) */
  }

.pilt {
height: 200px;
/* width:100px; ctrlÄ */

border-radius: 10px;
/* nurgad ümaraks */
}

.pilt:hover {
  opacity: 70%;
  cursor: pointer;
}

.pilt:active {
  /*nupu asukoht fikseerub  */
  transform: scale(0.95);
}

.nupp {
background-color: brown;
color: white;
border-radius: 5px;
}

.nupp-e {
  background-color: #824670;
  color: white;
  border-radius: 5px;
  }

  .nupp-t {
    background-color: #824670;
    color: white;
    border-radius: 5px;
    }

    .nupp-h {
      background-color: #717EC3;
      color: white;
      border-radius: 5px;
      }

.nupp:hover {
  background-color: chocolate; 
  cursor:pointer;
  /* vajutusefekt */
}

.nupp:active {
  background-color: chartreuse;
  text-decoration: underline;
}

.summa {
  background-color: rgb(7, 113, 113);
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
}

.aktiivne-summa {
background-color: rgb(7, 113, 113);
 border: 2px solid red;
 color: purple;
 font-size: 30px;
 margin: 10px;
 border-radius: 5px;

}

